/AEP_hourly.csv
/COMED_hourly.csv
/DAYTON_hourly.csv
/DEOK_hourly.csv
/DOM_hourly.csv
/DUQ_hourly.csv
/E21CSEU0443-Milestone 2_paper_final.pdf
/EKPC_hourly.csv
/est_hourly.paruqet
/FE_hourly.csv
/NI_hourly.csv
/PJME_hourly.csv
/PJMW_hourly.csv
/pjm_hourly_est.csv
/PJM_Load_hourly.csv